/******************************?FONTS?******************************/
.font\:family-arial, 
.font\:family-georgia, 
.font\:family-verdana, 
.font\:family-lucida, 
.font\:family-helveltica, 
.font\:family-monaco, 
.font\:family-courier, 
.font\:family-apple { /*TODO: Type font style's*/
	font-weight: 450;
    font-stretch: condensed;
}

	.font\:family-arial {
		font-family: var(--rt-fn-arial) !important;
	}

	.font\:family-georgia {
		font-family: var(--rt-fn-georgia) !important;
	}

	.font\:family-verdana {
		font-family: var(--rt-fn-verdana) !important;
	}

	.font\:family-lucida {
		font-family: var(--rt-fn-lucida) !important;
	}

	.font\:family-helveltica {
		font-family: var(--rt-fn-helveltica) !important;
	}

	.font\:family-monaco {
		font-family: var(--rt-fn-monaco) !important;
	}

	.font\:family-courier {
		font-family: var(--rt-fn-courier) !important;
	}

	.font\:family-apple {
		font-family: var(--rt-fn-apple) !important;
	}

.font\:size-25\% { /*TODO: Font's size's*/
	font-size: 0.25em !important;
}

.font\:size-50\% {
	font-size: 0.5em !important;
}

.font\:size-75\% {
	font-size: 0.75em !important;
}

.font\:size-100\% {
	font-size: 1em !important;
}

.font\:weight-normal { /*TODO: Type font size*/
	font-weight: normal !important;
}

.font\:weight-bold {
	font-weight: bold !important;
}

.font\:transform-uppercase { /*TODO: Type font letter*/
	text-transform: uppercase !important;
}

.font\:transform-lower {
	text-transform: lowercase !important; 
}

.font\:transform-capitalize {
	text-transform: capitalize !important;
}
