:root {
    /* Components' Rule's */
    --rt-cm-mirror: rgba(255, 255, 255, 0.5);
    --rt-cm-wrapper: rgba(10, 10, 10, 0.65);
}

/* Modal */
.container-section\:modal {
    display: var(--rt-ds-inline-block);
    position: var(--rt-ps-absolute);
    background-color: var(--rt-cm-mirror);
    border: 1px solid black;
    width: 50%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(3em);
    z-index: 10001;
}

    .container-section\:modal > .modal\:header, 
    .container-section\:modal > .modal\:body, 
    .container-section\:modal > .modal\:footer {
        display: var(--rt-ds-flex);
        margin-left: 0.15em:
        margin-right: 0.15em;
        padding: 1.5em;
    }

/* Card */
.card { }

/* Loader */
.spinner\:solid, 
.spinner\:dashed, 
.spinner\:dotted { }

    .spinner\:solid {
        border-style: solid !important;
    }

    .spinner\:dashed {
        border-style: dashed !important;
    }

    .spinner\:dotted {
        border-style: dotted !important;
    }

/* Wrapper */
.container-section\:mirror-middle, 
.container-section\:mirror-full {
    display: var(--rt-ds-block);
    position: var(--rt-ps-absolute);
    background-color: var(--rt-cm-wrapper);
    width: 100vw;
    height: auto;
    opacity: 0.75;
    z-index: 10000;
}

    .container\:-mirror-middle {
        max-width: 50%;
    }

    .container\:mirror-full {
        max-width: 100%;
    }