/******************************?MEDIA?******************************/
@media screen and (min-width: 240px) { 
	.modal\:container .group\:header, 
	.modal\:container .group\:body, 
	.modal\:container .group\:footer {
		max-width: var(--rt-md-extra-small) !important;
	}

	.button\:extra-small, 
	.button\:small, 
	.button\:medium, 
	.button\:large, 
	.button\:extra-large {
		font-size: 0.35em !important;
	}

	.text\:extra-small, 
	.text\:small, 
	.text\:medium, 
	.text\:large, 
	.text\:extra-large,
	.select\:extra-small, 
	.select\:small, 
	.select\:medium, 
	.select\:large, 
	.select\:extra-large, 
	.date\:extra-small, 
	.date\:small, 
	.date\:medium, 
	.date\:large, 
	.date\:extra-large {
		font-size: 0.5em !important;
	}

	.table\:normal thead, 
	.table\:normal tbody {
		font-size: 0.65em !important;
	}

	.list\:portrait, 
	.list\:landscape {
		font-size: 0.45em !important;
	}
}

@media screen and (min-width: 480px) { /*TODO: Breakpoint extra-small*/
    .root\:container .group\:header, 
	.root\:container .group\:body, 
	.root\:container .group\:footer {
        max-width: var(--rt-bp-extra-small) !important;
    }

    .modal\:container .group\:header, 
	.modal\:container .group\:body, 
	.modal\:container .group\:footer {
		max-width: var(--rt-md-small) !important;
	}

	.button\:extra-small, 
	.button\:small, 
	.button\:medium, 
	.button\:large, 
	.button\:extra-large {
		font-size: 0.5em !important;
	}

	.text\:extra-small, 
	.text\:small, 
	.text\:medium, 
	.text\:large, 
	.text\:extra-large,
	.select\:extra-small, 
	.select\:small, 
	.select\:medium, 
	.select\:large, 
	.select\:extra-large,
	.date\:extra-small, 
	.date\:small, 
	.date\:medium, 
	.date\:large, 
	.date\:extra-large {
		font-size: 0.7em !important;
	}

	.table\:normal thead, 
	.table\:normal tbody {
		font-size: 0.65em !important;
	}

	.list\:portrait, 
	.list\:landscape {
		font-size: 0.6em !important;
	}
}

@media screen and (min-width: 600px) { /*TODO: Breakpoint small*/
    .root\:container .group\:header, 
	.root\:container .group\:body, 
	.root\:container .group\:footer,
    .group\:external-component {
        max-width: var(--rt-bp-small) !important;
    }

    .modal\:container .group\:header, 
	.modal\:container .group\:body, 
	.modal\:container .group\:footer {
		max-width: var(--rt-md-medium) !important;
	}

	.button\:extra-small, 
	.button\:small, 
	.button\:medium, 
	.button\:large,
	.button\:extra-large {
		font-size: 0.75em !important;
	}

	.text\:extra-small, 
	.text\:small, 
	.text\:medium, 
	.text\:large, 
	.text\:extra-large,
	.select\:extra-small, 
	.select\:small,
	.select\:medium, 
	.select\:large, 
	.select\:extra-large,
	.date\:extra-small, 
	.date\:small, 
	.date\:medium, 
	.date\:large, 
	.date\:extra-large {
		font-size: 1em !important;
	}

	.table\:normal thead, 
	.table\:normal tbody {
		font-size: 1em !important;
	}

	.list\:portrait, 
	.list\:landscape {
		font-size: 0.85em !important;
	}
}

@media screen and (min-width: 768px) { /*TODO: Breakpoint medium*/
    .root\:container .group\:header, 
	.root\:container .group\:body, 
	.root\:container .group\:footer,
    .group\:external-component {
        max-width: var(--rt-bp-medium) !important;
    }

	.button\:extra-small, 
	.button\:small, 
	.button\:medium, 
	.button\:large, 
	.button\:extra-large {
		font-size: 1em !important;
	}

	.text\:extra-small, 
	.text\:small, 
	.text\:medium, 
	.text\:large, 
	.text\:extra-large,
	.select\:extra-small, 
	.select\:small, 
	.select\:medium, 
	.select\:large, 
	.select\:extra-large,
	.date\:extra-small, 
	.date\:small, 
	.date\:medium, 
	.date\:large, 
	.date\:extra-large {
		font-size: 1.2em !important;
	}

	.table\:normal thead, 
	.table\:normal tbody {
		font-size: 1.2em !important;
	}

	.list\:portrait, 
	.list\:landscape {
		font-size: 1em !important;
	}
}

@media screen and (min-width: 992px) { /*TODO: Breakpoint large*/
    .root\:container .group\:header, 
	.root\:container .group\:body, 
	.root\:container .group\:footer,
    .group\:external-component {
        max-width: var(--rt-bp-large) !important;
    }

	.button\:extra-small, 
	.button\:small, 
	.button\:medium, 
	.button\:large, 
	.button\:extra-large {
		font-size: 1em !important;
	}

	.text\:extra-small, 
	.text\:small, 
	.text\:medium, 
	.text\:large, 
	.text\:extra-large,
	.select\:extra-small, 
	.select\:small, 
	.select\:medium, 
	.select\:large, 
	.select\:extra-large,
	.date\:extra-small, 
	.date\:small, 
	.date\:medium, 
	.date\:large, 
	.date\:extra-large {
		font-size: 1.2em !important;
	}

	.table\:normal thead, 
	.table\:normal tbody {
		font-size: 1.2em !important;
	}

	.list\:portrait, 
	.list\:landscape {
		font-size: 1em !important;
	}
}

@media screen and (min-width: 1200px) { /*TODO: Breakpoint extra-large*/
    .root\:container .group\:header, 
	.root\:container .group\:body, 
	.root\:container .group\:footer,
    .group\:external-component {
        max-width: var(--rt-bp-extra-large) !important;
    }

	.button\:extra-small, 
	.button\:small, 
	.button\:medium, 
	.button\:large, 
	.button\:extra-large {
		font-size: 0.8em !important;
	}

	.text\:extra-small, 
	.text\:small, 
	.text\:medium, 
	.text\:large, 
	.text\:extra-large,
	.select\:extra-small, 
	.select\:small, 
	.select\:medium, 
	.select\:large, 
	.select\:extra-large,
	.date\:extra-small, 
	.date\:small, 
	.date\:medium, 
	.date\:large, 
	.date\:extra-large {
		font-size: 1em !important;
	}

	.table\:normal thead, 
	.table\:normal tbody {
		font-size: 1em !important;
	}

	.list\:portrait, 
	.list\:landscape {
		font-size: 0.85em !important;
	}
}

@media screen and (min-width: 1820px) {
	.root\:container .group\:header, 
	.root\:container .group\:body, 
	.root\:container .group\:footer,
    .group\:external-component {
        max-width: var(--rt-bp-grant) !important;
    }

	.button\:extra-small, 
	.button\:small, 
	.button\:medium, 
	.button\:large, 
	.button\:extra-large {
		font-size: 1.2em !important;
	}

	.text\:extra-small, 
	.text\:small, 
	.text\:medium, 
	.text\:large, 
	.text\:extra-large,
	.select\:extra-small, 
	.select\:small, 
	.select\:medium, 
	.select\:large, 
	.select\:extra-large,
	.date\:extra-small, 
	.date\:small, 
	.date\:medium, 
	.date\:large, 
	.date\:extra-large {
		font-size: 1.5em !important;
	}

	.table\:normal thead, 
	.table\:normal tbody {
		font-size: 1.5em !important;
	}

	.list\:portrait, 
	.list\:landscape {
		font-size: 1.35em !important;
	}
}

@media (prefers-color-scheme: light) { /*TODO: Custom in light mode*/
	body {
		background-color: var(--rt-bg-white);
	}

	input[type="text"], 
	input[type="password"], 
	input[type="submit"], 
	input[type="reset"], 
	textarea, 
	select {
	    background-color: var(--rt-bg-white);
	}

	.button\:hover::after {
		border-bottom: 25px solid var(--rt-cm-hover-dark);
	}

	.button\:hover:hover, 
	.text\:hover:hover, 
	.select\:hover:hover {
        box-shadow: var(--rt-bs-form-light);
    }

	.text\:extra-small::placeholder, 
	.text\:small::placeholder, 
	.text\:medium::placeholder, 
	.text\:large::placeholder, 
	.text\:extra-large::placeholder {
        color: var(--rt-bg-black);
    }

	.text\:extra-small:disabled, 
	.text\:small:disabled, 
	.text\:medium:disabled, 
	.text\:large:disabled, 
	.text\:extra-large:disabled {
    	background-color: var(--rt-bg-grey);
    }

	.text\:extra-small, 
	.text\:small, 
	.text\:medium, 
	.text\:large, 
	.text\:extra-large,
	.select\:extra-small, 
	.select\:small, 
	.select\:medium, 
	.select\:large, 
	.select\:extra-large,
	.date\:extra-small, 
	.date\:small, 
	.date\:medium, 
	.date\:large, 
	.date\:extra-large {
		color: var(--rt-bg-black);
		background-color: var(--rt-bg-white);
	}

	.table\:stripped tbody tr:nth-child(even),
	.table\:border tbody tr:nth-child(even),
	.list\:stripped .list\:item:nth-child(even) {
		background-color: var(--rt-bg-grey-light);
	}

	.scroll\:auto::-webkit-scrollbar-track,
	.scroll\:x-auto::-webkit-scrollbar-track,
	.scroll\:y-auto::-webkit-scrollbar-track,
	.scroll\:x-visible::-webkit-scrollbar-track,
	.scroll\:y-visible::-webkit-scrollbar-track {
		background-color: var(--rt-bg-grey-light);
	}

	.scroll\:auto::-webkit-scrollbar-thumb, 
	.scroll\:x-auto::-webkit-scrollbar-thumb, 
	.scroll\:y-auto::-webkit-scrollbar-thumb,
	.scroll\:x-visible::-webkit-scrollbar-thumb, 
	.scroll\:y-visible::-webkit-scrollbar-thumb {
		background-color: var(--rt-bg-grey);
		border-radius: 2em;
	}
}

@media (prefers-color-scheme: dark) { /*TODO: Custom in dark mode*/
	body {
        background-color: var(--rt-bg-grey-dark);
	}

	input[type="text"], 
	input[type="password"], 
	input[type="submit"], 
	input[type="reset"], 
	textarea, 
	select {
	    background-color: var(--rt-bg-grey);
	}

	.button\:extra-small::after, 
	.button\:small::after, 
	.button\:medium::after, 
	.button\:large::after, 
	.button\:extra-large::after {
		border-bottom: 25px solid var(--rt-cm-hover-dark);
	}

	.button\:hover:hover, 
	.text\:hover:hover, 
	.select\:hover:hover {
		box-shadow: var(--rt-bs-form-dark);
	}

	.text\:extra-small::placeholder, 
	.text\:small::placeholder, 
	.text\:medium::placeholder, 
	.text\:large::placeholder, 
	.text\:extra-large::placeholder {
        color: var(--rt-bg-white);
    }

	.text\:extra-small:disabled, 
	.text\:small:disabled, 
	.text\:medium:disabled, 
	.text\:large:disabled, 
	.text\:extra-large:disabled {
    	background-color: var(--rt-bg-white);
    }

	.text\:extra-small, 
	.text\:small, 
	.text\:medium, 
	.text\:large, 
	.text\:extra-large,
	.select\:extra-small, 
	.select\:small, 
	.select\:medium, 
	.select\:large, 
	.select\:extra-large,
	.date\:extra-small, 
	.date\:small, 
	.date\:medium, 
	.date\:large, 
	.date\:extra-large {
		color: var(--rt-bg-white);
		background-color: var(--rt-bg-grey);
	}

	.table\:stripped tbody tr:nth-child(odd),
        .table\:border tbody tr:nth-child(odd),
	.list\:stripped .list\:item:nth-child(odd) {
		color: var(--rt-bg-grey-dark);
		background-color: var(--rt-bg-grey-light);
	}

	.table\:stripped tbody tr:nth-child(even),
	.table\:border tbody tr:nth-child(even),
	.list\:stripped .list\:item:nth-child(even) {
		color: var(--rt-bg-black);
		background-color: var(--rt-bg-white);
	}

	.scroll\:auto::-webkit-scrollbar-track,
	.scroll\:x-auto::-webkit-scrollbar-track,
	.scroll\:y-auto::-webkit-scrollbar-track,
	.scroll\:x-visible::-webkit-scrollbar-track,
	.scroll\:y-visible::-webkit-scrollbar-track {
		background-color: var(--rt-bg-grey);
	}

	.scroll\:auto::-webkit-scrollbar-thumb, 
	.scroll\:x-auto::-webkit-scrollbar-thumb, 
	.scroll\:y-auto::-webkit-scrollbar-thumb,
	.scroll\:x-visible::-webkit-scrollbar-thumb, 
	.scroll\:y-visible::-webkit-scrollbar-thumb {
		background-color: var(--rt-bg-grey-light);
		border-radius: 2em;
	}
}

@media (prefers-reduced-motion: reduce) { } /*TODO: Reduce motion produced with user in device*/

@media print { /*TODO: Configuration to print screen paper*/
	@page {
		font-family: var(--rt-fn-arial);
		font-size: 14px;
		margin: 1.5px;
		size: landscape;
	}

	.group\:mirror {
		display: var(--rt-ds-none);
	}
}

@keyframes loader { /*TODO: Loader animation*/
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

	@-webkit-keyframes loader {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}

	@-moz-keyframes loader {
		0% {
			transform: rotate(0deg);
		}
	
		100% {
			transform: rotate(360deg);
		}
	}

	@-o-keyframes loader {
		0% {
			transform: rotate(0deg);
		}
	
		100% {
			transform: rotate(360deg);
		}
	}

@keyframes fadeIn { /*TODO: Loader fade-in*/
	from {
		margin: 500px auto;
	}

	to {
		margin: 0 auto;
	}
}

	@-webkit-keyframes fadeIn {
		from {
			margin: 500px auto;
		}
	
		to {
			margin: 0 auto;
		}
	}

	@-moz-keyframes fadeIn {
		from {
			margin: 500px auto;
		}
	
		to {
			margin: 0 auto;
		}
	}

	@-o-keyframes fadeIn {
		from {
			margin: 500px auto;
		}
	
		to {
			margin: 0 auto;
		}
	}

@keyframes fadeOut { /*TODO: Loader fade-out*/
	from {
		transform: scale(1.15);
	}

	to {
		transform: scale(1);
	}
}

	@-webkit-keyframes fadeOut {
		from {
			-webkit-transform: scale(1.15);
		}

		to {
			-webkit-transform: scale(1);
		}
	}

	@-moz-keyframes fadeOut {
		from {
			-moz-transform: scale(1.15);
		}

		to {
			-moz-transform: scale(1);
		}
	}

	@-o-keyframes fadeOut {
		from {
			-o-transform: scale(1.15);
		}

		to {
			-o-transform: scale(1);
		}
	}

@keyframes hidden {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

	@-webkit-keyframes hidden {
		0% {
			-webkit-filter: opacity(1);
		}

		100% {
			-webkit-filter: opacity(0);
		}
	}

	@-moz-keyframes hidden {
		0% {
			-moz-filter: opacity(1);
		}

		100% {
			-moz-filter: opacity(0);
		}
	}

	@-o-keyframes hidden {
		0% {
			-o-filter: opacity(1);
		}

		100% {
			-o-filter: opacity(0);
		}
	}
