/******************************?SHADOWS?******************************/
.shadow\:normal {
    box-shadow: var(--rt-bs-regular) !important;
}

.shadow\:form { /*TODO: Shadow in form's content*/
	box-shadow: var(--rt-bs-form) !important;
}

.shadow\:react {
	box-shadow: var(--rt-bs-react) !important;
}

.shadow\:hover { /*TODO: Shadow hoverable element*/
	box-shadow: var(--rt-bs-hover) !important;
}

	.shadow\:hover-scale {
		box-shadow: var(--rt-bs-hover-combine) !important;
	}
