:root {
	/* Shadow's */
	--rt-bs-regular: 5px 0px 15px 5px rgba(15, 15, 15, 0.35); /* Rectangular Shadow */
	--rt-bs-form: 2.5px 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.50) !important; /* Special With Form's */
	--rt-bs-hover: inset 0 0 0 100px rgba(0, 0, 0, 0.25) !important; /* Hover Element */
	--rt-bs-hover-combine: inset 0 0 0 100px rgba(0, 0, 0, 0.25), 1.5px 1.5px 2px 0 rgba(255, 255, 255, 0.85) !important;
}

/* Shadow's */
.shadow\:normal {
    box-shadow: var(--rt-bs-regular);
}