:root {
	/* Font's */
	--rt-fn-georigia: 'Georigia', serif; /* Serif */

	--rt-fn-verdana: 'Verdana', sans-serif; /* Sans */
	--rt-fn-lucida: 'Lucida Sans', sans-serif;
	--rt-fn-helveltica: 'Helveltica', sans-serif;

	--rt-fn-monaco: 'Monaco', monospace; /* Monospace */
	--rt-fn-courier: 'Courier New', monospace;
}

/* Font's Type's */
.font-family\:georgia, 
.font-family\:verdana, 
.font-family\:lucida, 
.font-family\:helveltica, 
.font-family\:monaco,
.font-family\:courier {
	font-weight: 450;
    font-stretch: condensed;
}

	.font-family\:georgia {
		font-family: var(--rt-fn-georgia) !important;
	}

	.font-family\:verdana {
		font-family: var(--rt-fn-verdana) !important;
	}

	.font-family\:lucida {
		font-family: var(--rt-fn-lucida) !important;
	}

	.font-family\:helveltica {
		font-family: var(--rt-fn-helveltica) !important;
	}

	.font-family\:monaco {
		font-family: var(--rt-fn-monaco) !important;
	}

	.font-family\:courier {
		font-family: var(--rt-fn-courier) !important;
	}

/* Type Letter */
.font-weight\:normal {
	font-weight: normal !important;
}

.font-weight\:bold {
	font-weight: bold !important;
}

/* Size */
.font-transform\:uppercase {
	text-transform: uppercase !important;
}

.font-transform\:lower {
	text-transform: lowercase !important; 
}

.font-transform\:capitalize {
	text-transform: capitalize !important;
}
