/******************************?MEDIA?******************************/
:root {
	/*! BreakPoint's Root Container !*/
	--rt-bp-extra-small: 480px;
	--rt-bp-small: 600px;
	--rt-bp-medium: 768px;
	--rt-bp-large: 992px;
	--rt-bp-extra-large: 1200px;
	--rt-bp-grant: 1820px;

	/*! BreakPoint's Modal Container !*/
	--rt-md-extra-small: 240px;
	--rt-md-small: 480px;
	--rt-md-medium: 600px;

	/*! Animation's !*/
	--rt-a-loader: loader;
	--rt-a-fadeIn: fadeIn;
	--rt-a-fadeOut: fadeOut;
}

@media screen and (min-width: 240px) { 
	.modal\:container .section\:header, .modal\:container .section\:body, .modal\:container .section\:footer {
		max-width: var(--rt-md-extra-small) !important;
	}

	.button\:extra-small, .button\:small, .button\:medium, .button\:large, .button\:extra-large {
		font-size: 0.35em;
	}

	.text\:extra-small, .text\:small, .text\:medium, .text\:large, .text\:extra-large,
	.select\:extra-small, .select\:small, .select\:medium, .select\:large, .select\:extra-large, 
	.date\:extra-small, .date\:small, .date\:medium, .date\:large, .date\:extra-large {
		font-size: 0.5em;
	}

	.table\:border thead, .table\:stripped thead, 
    .table\:border tbody, .table\:stripped tbody {
		font-size: 0.65em;
	}

	.list\:portrait, .list\:landscape {
		font-size: 0.45em;
	}
}

@media screen and (min-width: 480px) { /*TODO: Breakpoint extra-small*/
    .root\:container .section\:header, .root\:container .section\:body, .root\:container .section\:footer {
        max-width: var(--rt-bp-extra-small) !important;
    }

    .modal\:container .section\:header, .modal\:container .section\:body, .modal\:container .section\:footer {
		max-width: var(--rt-md-small) !important;
	}

	.button\:extra-small, .button\:small, .button\:medium, .button\:large, .button\:extra-large {
		font-size: 0.5em;
	}

	.text\:extra-small, .text\:small, .text\:medium, .text\:large, .text\:extra-large,
	.select\:extra-small, .select\:small, .select\:medium, .select\:large, .select\:extra-large,
	.date\:extra-small, .date\:small, .date\:medium, .date\:large, .date\:extra-large {
		font-size: 0.7em;
	}

	.table\:border thead, .table\:stripped thead, 
    .table\:border tbody, .table\:stripped tbody {
		font-size: 0.65em;
	}

	.list\:portrait, .list\:landscape {
		font-size: 0.6em;
	}
}

@media screen and (min-width: 600px) { /*TODO: Breakpoint small*/
    .root\:container .section\:header, .root\:container .section\:body, .root\:container .section\:footer,
    .section\:external-component  {
        max-width: var(--rt-bp-small) !important;
    }

    .modal\:container .section\:header, .modal\:container .section\:body, .modal\:container .section\:footer {
		max-width: var(--rt-md-medium) !important;
	}

	.button\:extra-small, .button\:small, .button\:medium, .button\:large, .button\:extra-large {
		font-size: 0.75em;
	}

	.text\:extra-small, .text\:small, .text\:medium, .text\:large, .text\:extra-large,
	.select\:extra-small, .select\:small, .select\:medium, .select\:large, .select\:extra-large,
	.date\:extra-small, .date\:small, .date\:medium, .date\:large, .date\:extra-large {
		font-size: 1em;
	}

	.table\:border thead, .table\:stripped thead, 
    .table\:border tbody, .table\:stripped tbody {
		font-size: 1em;
	}

	.list\:portrait, .list\:landscape {
		font-size: 0.85em;
	}
}

@media screen and (min-width: 768px) { /*TODO: Breakpoint medium*/
    .root\:container .section\:header, .root\:container .section\:body, .root\:container .section\:footer,
    .section\:external-component {
        max-width: var(--rt-bp-medium) !important;
    }

	.button\:extra-small, .button\:small, .button\:medium, .button\:large, .button\:extra-large {
		font-size: 1em;
	}

	.text\:extra-small, .text\:small, .text\:medium, .text\:large, .text\:extra-large,
	.select\:extra-small, .select\:small, .select\:medium, .select\:large, .select\:extra-large,
	.date\:extra-small, .date\:small, .date\:medium, .date\:large, .date\:extra-large {
		font-size: 1.2em;
	}

	.table\:border thead, .table\:stripped thead, 
    .table\:border tbody, .table\:stripped tbody {
		font-size: 1.2em;
	}

	.list\:portrait, .list\:landscape {
		font-size: 1em;
	}
}

@media screen and (min-width: 992px) { /*TODO: Breakpoint large*/
    .root\:container .section\:header, .root\:container .section\:body, .root\:container .section\:footer,
    .section\:external-component  {
        max-width: var(--rt-bp-large) !important;
    }

	.button\:extra-small, .button\:small, .button\:medium, .button\:large, .button\:extra-large {
		font-size: 1em;
	}

	.text\:extra-small, .text\:small, .text\:medium, .text\:large, .text\:extra-large,
	.select\:extra-small, .select\:small, .select\:medium, .select\:large, .select\:extra-large,
	.date\:extra-small, .date\:small, .date\:medium, .date\:large, .date\:extra-large {
		font-size: 1.2em;
	}

	.table\:border thead, .table\:stripped thead, 
    .table\:border tbody, .table\:stripped tbody {
		font-size: 1.2em;
	}

	.list\:portrait, .list\:landscape {
		font-size: 1em;
	}
}

@media screen and (min-width: 1200px) { /*TODO: Breakpoint extra-large*/
    .root\:container .section\:header, .root\:container .section\:body, .root\:container .section\:footer,
    .section\:external-component  {
        max-width: var(--rt-bp-extra-large) !important;
    }

	.button\:extra-small, .button\:small, .button\:medium, .button\:large, .button\:extra-large {
		font-size: 0.8em;
	}

	.text\:extra-small, .text\:small, .text\:medium, .text\:large, .text\:extra-large,
	.select\:extra-small, .select\:small, .select\:medium, .select\:large, .select\:extra-large,
	.date\:extra-small, .date\:small, .date\:medium, .date\:large, .date\:extra-large {
		font-size: 1em;
	}

	.table\:border thead, .table\:stripped thead, 
    .table\:border tbody, .table\:stripped tbody {
		font-size: 1em;
	}

	.list\:portrait, .list\:landscape {
		font-size: 0.85em;
	}
}

@media screen and (min-width: 1820px) {
	.root\:container .section\:header, .root\:container .section\:body, .root\:container .section\:footer,
    .section\:external-component  {
        max-width: var(--rt-bp-grant) !important;
    }

	.button\:extra-small, .button\:small, .button\:medium, .button\:large, .button\:extra-large {
		font-size: 1.2em;
	}

	.text\:extra-small, .text\:small, .text\:medium, .text\:large, .text\:extra-large,
	.select\:extra-small, .select\:small, .select\:medium, .select\:large, .select\:extra-large,
	.date\:extra-small, .date\:small, .date\:medium, .date\:large, .date\:extra-large {
		font-size: 1.5em;
	}

	.table\:border thead, .table\:stripped thead, 
    .table\:border tbody, .table\:stripped tbody {
		font-size: 1.5em;
	}

	.list\:portrait, .list\:landscape {
		font-size: 1.35em;
	}
}

@media (prefers-color-scheme: dark) { } /*TODO: Custom in dark mode*/

@media (prefers-reduced-motion: reduce) { } /*TODO: Reduce motion produced with user in device*/

@media print { /*TODO: Configuration to print screen paper*/
	@page {
		font-family: var(--rt-fn-arial);
		font-size: 14px;
		margin: 1.5px;
		size: landscape;
	}

	.section\:mirror {
		display: var(--rt-ds-none);
	}
}

@keyframes loader { /*TODO: Loader animation*/
    0% {
        transform: rotate(0deg);
        border: 10px var(--rt-bg-white);
    }

    25% {
        transform: rotate(90deg);
        border: 10px solid var(--rt-bg-blue-light);
    }

    50% {
        transform: rotate(180deg);
        border: 10px solid var(--rt-bg-blue);
    }

    100% {
        transform: rotate(360deg);
        border: 10px solid var(--rt-bg-blue-dark);
    }
}

	@-webkit-keyframes loader {
		0% {
			transform: rotate(0deg);
			border: 10px var(--rt-bg-white);
		}

		25% {
			transform: rotate(90deg);
			border: 10px solid var(--rt-bg-blue-light);
		}

		50% {
			transform: rotate(180deg);
			border: 10px solid var(--rt-bg-blue);
		}

		100% {
			transform: rotate(360deg);
			border: 10px solid var(--rt-bg-blue-dark);
		}
	}

	@-moz-keyframes loader {
		0% {
			transform: rotate(0deg);
			border: 10px var(--rt-bg-white);
		}
	
		25% {
			transform: rotate(90deg);
			border: 10px solid var(--rt-bg-blue-light);
		}
	
		50% {
			transform: rotate(180deg);
			border: 10px solid var(--rt-bg-blue);
		}
	
		100% {
			transform: rotate(360deg);
			border: 10px solid var(--rt-bg-blue-dark);
		}
	}

	@-o-keyframes loader {
		0% {
			transform: rotate(0deg);
			border: 10px var(--rt-bg-white);
		}
	
		25% {
			transform: rotate(90deg);
			border: 10px solid var(--rt-bg-blue-light);
		}
	
		50% {
			transform: rotate(180deg);
			border: 10px solid var(--rt-bg-blue);
		}
	
		100% {
			transform: rotate(360deg);
			border: 10px solid var(--rt-bg-blue-dark);
		}
	}

@keyframes fadeIn { /*TODO: Loader fade-in*/
	from {
		margin: 500px auto;
	}

	to {
		margin: 0 auto;
	}
}

	@-webkit-keyframes fadeIn {
		from {
			margin: 500px auto;
		}
	
		to {
			margin: 0 auto;
		}
	}

	@-moz-keyframes fadeIn {
		from {
			margin: 500px auto;
		}
	
		to {
			margin: 0 auto;
		}
	}

	@-o-keyframes fadeIn {
		from {
			margin: 500px auto;
		}
	
		to {
			margin: 0 auto;
		}
	}

@keyframes fadeOut { /*TODO: Loader fade-out*/
	from {
		transform: scale(1.15);
	}

	to {
		transform: scale(1);
	}
}

	@-webkit-keyframes fadeOut {
		from {
			-webkit-transform: scale(1.15);
		}

		to {
			-webkit-transform: scale(1);
		}
	}

	@-moz-keyframes fadeOut {
		from {
			-moz-transform: scale(1.15);
		}

		to {
			-moz-transform: scale(1);
		}
	}

	@-o-keyframes fadeOut {
		from {
			-o-transform: scale(1.15);
		}

		to {
			-o-transform: scale(1);
		}
	}