/******************************?COMPONENTS?******************************/
:root { /*!Only modify with Sass or Less!*/
    --rt-cm-mirror: rgba(255, 255, 255, 0.5);
    --rt-cm-wrapper: rgba(10, 10, 10, 0.75);
    --rt-cm-border: rgba(100, 100, 100, 0.20);
    --rt-cm-hover-light: rgba(40, 30, 15, 0.65);
    --rt-cm-hover-dark: rgba(80, 60, 30, 0.35);

    --rt-bd-blur: blur(5px);
}

.group\:mirror { /*TODO: Modal*/
    display: var(--rt-ds-none);
    position: var(--rt-ps-absolute);
    background-color: var(--rt-cm-wrapper);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: var(--rt-bd-blur);
    opacity: 0.98;
    z-index: 9999;
}

    .group\:mirror .modal\:alert, 
    .group\:mirror .modal\:form, 
    .group\:mirror .modal\:notify {
        position: var(--rt-ps-absolute);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        word-break: break-word;
        z-index: 99999;
    }

    .group\:mirror .modal\:alert { /*TODO: Modal alert*/
        display: var(--rt-ds-flex);
        width: calc(100vw / 4);
        height: auto;
        border: 7.5px solid var(--rt-cm-border);
        border-bottom-left-radius: 1.5em;
        border-top-right-radius: 1.5em;
        padding: 0.5em;
        text-align: center;
        animation: 0.5s var(--rt-a-fadeIn) forwards;
        -webkit-animation: 0.5s var(--rt-a-fadeIn) forwards;
        -moz-animation: 0.5s var(--rt-a-fadeIn) forwards;
        -o-animation: 0.5s var(--rt-a-fadeIn) forwards;
        box-shadow: var(--rt-bs-components);
        flex-direction: column;
    }

        .modal\:alert .content\:title, 
        .modal\:alert .content\:message, 
        .modal\:alert .content\:options {
            width: 100%;
        }

        .modal\:alert .content\:title {
            max-height: 30%;
        }

        .modal\:alert .content\:message {
            max-height: 45%;
        }

        .modal\:alert .content\:options {
            max-height: 15%;
        }

    .group\:mirror .modal\:form { /*TODO: Modal form*/
        display: var(--rt-ds-flex);
        width: calc(100vw / 3);
        height: auto;
        border: 7.5px solid var(--rt-cm-border);
        border-radius: 1.5em;
        animation: 0.5s var(--rt-a-fadeIn) forwards;
        -webkit-animation: 0.5s var(--rt-a-fadeIn) forwards;
        -moz-animation: 0.5s var(--rt-a-fadeIn) forwards;
        -o-animation: 0.5s var(--rt-a-fadeIn) forwards;
        justify-content: center;
        flex-direction: column;
    }

        .modal\:form .content\:main,
        .modal\:form .content\:footer {
            width: 100%;
        }

        .modal\:form .content\:main {
            height: 80%;
        }

        .modal\:form .content\:footer {
            height: 20%;
        }

    .group\:mirror .modal\:notify { /*TODO: Modal notify*/
        position: var(--rt-ps-relative);
        background-color: var(--rt-bg-white);
        border: 0.25em solid var(--rt-bg-grey-light);
        border-radius: 1em;
        width: calc(100% / 2);
        height: calc(100% / 12);
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: hidden 1.5s;
        -webkit-animation: hidden 1.5s;
        -moz-animation: hidden 1.5s;
        -o-animation: hidden 1.5s;
    }

        .modal\:nofity .content\:message {
            width: 100%;
            height: 100%;
        }

    .group\:mirror .spinner\:solid, 
    .group\:mirror .spinner\:dashed, 
    .group\:mirror .spinner\:dotted { /*TODO: Spinner*/
        position: var(--rt-ps-fixed);
        border-width: 0.35em;
        border-left: var(--rt-bg-none) !important;
        animation: 1.5s var(--rt-a-loader) cubic-bezier(0, 0.25, 1, 1) infinite;
        -webkit-animation: 1.5s var(--rt-a-loader) cubic-bezier(0, 0.25, 1, 1) infinite;
        -moz-animation: 1.5s var(--rt-a-loader) cubic-bezier(0, 0.25, 1, 1) infinite;
        -o-animation: 1.5s var(--rt-a-loader) cubic-bezier(0, 0.25, 1, 1) infinite;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99999;
    }

        .group\:mirror .spinner\:solid, 
        .group\:mirror .spinner\:solid::after,
        .group\:mirror .spinner\:dashed, 
        .group\:mirror .spinner\:dashed::after,
        .group\:mirror .spinner\:dotted, 
        .group\:mirror .spinner\:dotted::after {
            border-radius: 75%;
            width: 5em;
            height: 5em;
        }

            .group\:mirror .spinner\:solid {
                border-style: solid !important;
            }

            .group\:mirror .spinner\:dashed {
                border-style: dashed !important;
            }

            .group\:mirror .spinner\:dotted {
                border-style: dotted !important;
            }
