/******************************?UTILITIES?******************************/
.display { /*TODO: Displayed element in document*/
    display: var(--rt-ds-none) !important;
}
    .display\:inline {
        display: var(--rt-ds-inline) !important;
    }

    .display\:block {
        display: var(--rt-ds-block) !important;
    }

        .display\:inline-block {
            display: var(--rt-ds-inline-block) !important;
        }

    .display\:table {
        display: var(--rt-ds-table) !important;
    }

    .display\:flex {
        display: var(--rt-ds-flex) !important;
    }

        .display\:inline-flex {
            display: var(--rt-ds-inline-flex) !important;
        }

    .display\:grid {
        display: var(--rt-ds-grid) !important;
    }

.position { /*TODO: Position element referenced with parent or child element*/
    position: var(--rt-ps-none) !important;
}

    .position\:relative {
        position: var(--rt-ps-relative) !important;
    }

    .position\:absolute {
        position: var(--rt-ps-absolute) !important;
    }

    .position\:static {
        position: var(--rt-ps-static) !important;
    }

    .position\:fixed {
        position: var(--rt-ps-fixed) !important;
    }

.app { /*TODO: All document*/
    display: var(--rt-ds-flex);
    width: 100vw;
    height: 100vh;
}

    .app .nav\:container,
    .app .root\:container { /*TODO: Nav-Main*/
        width: 100%;
        height: 100%;
        z-index: 9999;
    }

        .nav\:container .group\:header,
        .nav\:container .group\:body,
        .nav\:container .group\:footer,
        .root\:container .group\:header,
        .root\:container .group\:body,
        .root\:container .group\:footer {
            display: var(--rt-ds-flex);
            position: var(--rt-ps-relative);
            width: 100%;
            height: auto;
            flex-wrap: wrap;
        }

        .nav\:container .group\:header,
        .nav\:container .group\:body,
        .nav\:container .group\:footer,
        .root\:container .group\:header,
        .root\:container .group\:body,
        .root\:container .group\:footer,
        .group\:external-component {
            margin-left: auto;
            margin-right: auto;
            padding-top: 0.25em;
            padding-bottom: 0.25em;
        }

            .nav\:container .group\:header .section,
            .nav\:container .group\:body .section,
            .nav\:container .group\:footer .section,
            .root\:container .group\:header .section,
            .root\:container .group\:body .section,
            .root\:container .group\:footer .section,
            .modal\:container .group\:header .section, 
            .modal\:container .group\:body .section, 
            .modal\:container .group\:footer .section,
            .group\:external-component { /*TODO: Row*/
                display: var(--rt-ds-flex);
                width: 100%;
                order: 0;
            }

            .section div {
                width: 100%;
            }

            .size\:1, 
            .size\:2, 
            .size\:3, 
            .size\:4, 
            .size\:5, 
            .size\:6, 
            .size\:7, 
            .size\:8, 
            .size\:9, 
            .size\:10,
            .size\:11, 
            .size\:12 { /*TODO: Cols*/
                flex: 0 0 auto;
                text-align: center;
            }

            .size\:1 {
                max-width: 100%;
            }
            
            .size\:2 {
                max-width: 91.6666666667%;
            }

            .size\:3 {
                max-width: 83.3333333333%;
            }

            .size\:4 {
                max-width: 75%;
            }

            .size\:5 {
                max-width: 66.6666666667%;
            }

            .size\:6 {
                max-width: 58.3333333333%;
            }

            .size\:7 {
                max-width: 50%;   
            }
            
            .size\:8 {
                max-width: 41.6666666667%;   
            }

            .size\:9 {
                max-width: 33.3333333333%;
            }

            .size\:10 {
                max-width: 25%;
            }

            .size\:11 {
                max-width: 16.6666666667%;
            }

            .size\:12 {
                max-width: 8.3333333333%;
            }

.justify\:content-left { /*TODO: Align element's with flexbox*/
    justify-content: flex-start !important;    
}

.justify\:content-center {
    justify-content: center !important;    
}

.justify\:content-right {
    justify-content: flex-end !important;
}

.justify\:content-evenly {
    justify-content: space-evenly !important;
}

.justify\:content-between {
    justify-content: space-between !important;
}

    .justify\:self-left {
        justify-self: flex-start !important;    
    }

    .justify\:self-center {
        justify-self: center !important;    
    }

    .justify\:self-right {
        justify-self: flex-end !important;    
    }

    .justify\:items-left {
        justify-items: flex-start !important;
    }

    .justify\:items-center {
        justify-items: center !important;
    }

    .justify\:items-right {
        justify-items: flex-end !important;
    }

.align\:content-top {
    align-content: flex-start !important;
}

.align\:content-middle {
    align-content: center !important;
}

.align\:content-bottom {
    align-content: flex-end !important;
}

.align\:content-evenly {
    align-content: space-evenly !important;
}

.align\:content-between {
    align-content: space-between !important;
}

    .align\:self-top {
        align-self: flex-start !important;
    }

    .align\:self-middle {
        align-self: center !important;
    }

    .align\:self-bottom {
        align-self: flex-end !important;
    }

    .align\:items-top {
        align-items: flex-start !important;
    }

    .align\:items-middle {
        align-items: center !important;
    }

    .align\:items-bottom {
        align-items: flex-end !important;
    }

.direction\:start {
    text-align: start !important;
    text-align: -webkit-left !important;
}

.direction\:center {
    text-align: center !important;
    text-align: -webkit-center !important;
}

.direction\:end {
    text-align: end !important;
    text-align: -webkit-right !important;
}

.direction\:row {
	flex-direction: row !important;
}


.direction\:col {
	flex-direction: column !important;
}

.button\:extra-small, 
.button\:small, 
.button\:medium, 
.button\:large, 
.button\:extra-large { /*TODO: Button's property's*/
    display: var(--rt-ds-inline-block);
    position: var(--rt-ps-relative);
    width: 100%;
    height: 60%;
    border-color: var(--rt-bg-none);
    border-style:solid;
    border-radius: 0.45em;
    padding: 0.25em;
    font-weight: 400;
    word-break: break-word;
    overflow: hidden !important;
}

    .button\:extra-small {
        max-width: 20%;
    }

    .button\:small {
        max-width: 40%;
    }

    .button\:medium {
        max-width: 60%;
    }

    .button\:large {
        max-width: 80%;
    }

    .button\:extra-large {
        max-width: 100%;
    }

        .button\:extra-small:active, 
        .button\:small:active, 
        .button\:medium:active, 
        .button\:large:active, 
        .button\:extra-large:active {
            transform: scale(0.85);
        }

    /*.button\:hover {
    	content: "";
    	position: var(--rt-ps-absolute);
    	border-right: 50px solid var(--rt-bg-none);
    	width: 150%;
    	height: 100%;
    	top: 0;
    	left: calc(-100% - 50%);
    	transition: 0.75s ease all;
    	z-index: 1;
    }*/

        .button\:hover-scale:hover {
            animation: 1.5s var(--rt-a-fadeOut);
            -webkit-animation: 1.5s var(--rt-a-fadeOut);
            -moz-animation: 1.5s var(--rt-a-fadeOut);
            -o-animation: 1.5s var(--rt-a-fadeOut);
            font-weight: 530;
        }

.text\:extra-small, 
.text\:small, 
.text\:medium, 
.text\:large, 
.text\:extra-large { /*TODO: Text field's property's*/
    width: 100%;
    height: 60%;
    border: 1.5px solid rgba(10, 10, 10, 0.45);
    border-radius: 0.5em;
    padding: 0.25em;
    font-weight: 450;
    text-align: center !important;
    text-transform: capitalize;
    outline: none !important;
}
    .text\:extra-small {
        max-width: 20%;
    }

    .text\:small {
        max-width: 40%;
    }

    .text\:medium {
        max-width: 60%;
    }

    .text\:large {
        max-width: 80%;
    }

    .text\:extra-large {
        max-width: 100%;
    }

/*.date\:extra-small, 
.date\:small, 
.date\:medium, 
.date\:large, 
.date\:extra-large { /TODO: Date field's property's/
    width: 100%;
    outline-style: double;
    border: none;
}

    .date\:extra-small {
        max-width: 20%;
    }

    .date\:small {
        max-width: 40%;
    }

    .date\:medium {
        max-width: 60%;
    }

    .date\:large {
        max-width: 80%;
    }

    .date\:extra-large {
        max-width: 100%;
    }

    .date\:extra-small .date\:modal, 
    .date\:small .date\:modal, 
    .date\:medium .date\:modal, 
    .date\:large .date\:modal, 
    .date\:extra-large .date\:modal {
        position: var(--rt-ps-absolute);
        width: calc(100% / 2);
        height: 60%;
        left: 25%;
        padding-bottom: 0.25em;
    }*/

.select\:extra-small, 
.select\:small, 
.select\:medium, 
.select\:large, 
.select\:extra-large { /*TODO: Combo's property's*/
    width: 100%;
    height: 60%;
    background-position: right center !important;
    background-size: 1.6em;
    background-repeat: no-repeat;
    border: 1.5px solid rgba(10, 10, 10, 0.45);
    border-radius: 0.5em;
    text-align: left;
    text-overflow: ellipsis;
    padding: 0.25em;
    outline: none !important;
    appearance: menulist-button;
    -webkit-appearance: menulist-button;
}

    .select\:extra-small, 
    .option\:item { /*TODO: Combo's item's property's*/
        max-width: 20%;
    }

    .select\:small, 
    .option\:item {
        max-width: 40%;
    }

    .select\:medium, 
    .option\:item {
        max-width: 60%;
    }

    .select\:large,
    .option\:item {
        max-width: 80%;
    }

    .select\:extra-large, 
    .option\:item {
        max-width: 100%;
    }

        .select\:hover option:hover {
            background-color: var(--rt-bg-blue);
        }

    .option\:item:hover {
        background-color: var(--rt-bg-blue);
    }

    .option\:item:active {
        background-color: var(--rt-bg-blue-dark);
    }

.table\:normal { /*TODO: Table's property's*/
    width: 100%;
    height: auto;
    text-align: center !important;
    line-height: 0.75 !important;
    word-break: normal;
}

    .table\:normal thead, 
    .table\:normal tbody {
        border-radius: 3em;
    }

    .table\:normal tbody {
        border-bottom: 0.5px solid var(--rt-bg-grey-light);
    }

        .table\:normal thead tr th, 
        .table\:normal tbody tr td {
            padding: 1.35em;
        }

    .table\:border {
        border-collapse: initial !important;
    }

    .table\:stripped {
        border-collapse: collapse !important;
    }

    .table\:hover tbody .row\:active,
    .table\:hover tbody tr:hover, 
    .table\:hover-scale thead tr:hover, 
    .table\:hover-scale tbody tr:hover {
        color: var(--rt-bg-white);
        box-shadow: var(--rt-bs-hover);
    }

        .table\:hover-scale tbody tr:hover {
            animation: 1.5s var(--rt-a-fadeIn);
            -webkit-animation: 1.5s var(--rt-a-fadeIn);
            -moz-animation: 1.5s var(--rt-a-fadeIn);
            -o-animation: 1.5s var(--rt-a-fadeIn);
        }

.data\:normal { /*TODO: DataInformation property's*/
    width: 100%;
    vertical-align: middle;
}

    .data\:normal dt,
    .data\:normal dd {
        display: var(--rt-ds-inline-block);
        width: 50%;
        padding: 1em;
        word-break: break-all !important;
    }

.list\:landscape, 
.list\:portrait { /*TODO: List's property's*/
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0;
    white-space: initial;
}

    .list\:landscape .list\:item, 
    .list\:portrait .list\:item { /*TODO: List's item's property's*/
        border-radius: 0.25em;
        padding: 0.50em;
        text-align: center;
        word-break: break-word;
        justify-content: center;
        align-items: center;
    }

        .list\:landscape .list\:item:hover, 
        .list\:portrait .list\:item:hover {
            cursor: pointer;
        }

        .list\:portrait .list\:item {
            display: var(--rt-ds-flex);
            height: auto;					
            flex-direction: row
        }

        .list\:landscape .list\:item {
            display: var(--rt-ds-inline);
            height: 3.5em;
        }

    .list\:hover .list\:item:hover, 
    .list\:hover-scale .list\:item:hover {
        box-shadow: var(--rt-bs-hover);
    }

        .list\:hover-scale .list\:item:hover {
            animation: 1.5s var(--rt-a-fadeIn);
            -webkit-animation: 1.5s var(--rt-a-fadeIn);
            -moz-animation: 1.5s var(--rt-a-fadeIn);
            -o-animation: 1.5s var(--rt-a-fadeIn);
        }

.image\:extra-small, 
.image\:small, 
.image\:medium, 
.image\:large, 
.image\:extra-large { /*TODO: Image's or Icon's property's*/
    /*display: var(--rt-ds-block);*/   
    width: 100%;
    height: auto;
    border-radius: 1.5em;
}

    .image\:extra-small {
        max-width: 20%;
    }

    .image\:small {
        max-width: 40%;
    }

    .image\:medium {
        max-width: 60%;
    }

    .image\:large {
        max-width: 80%;
    }

    .image\:extra-large {
        max-width: 100%;
    }

    .image\:hover:hover, 
    .image\:hover-round:hover {
        animation: 1.5s var(--rt-a-fadeOut);
        -webkit-animation: 1.5s var(--rt-a-fadeOut);
        -moz-animation: 1.5s var(--rt-a-fadeOut);
        -o-animation: 1.5s var(--rt-a-fadeOut);
        box-shadow: var(--rt-bs-regular);
    }

.letter\:extra-small, 
.letter\:small, 
.letter\:medium, 
.letter\:large, 
.letter\:extra-large { /*TODO: Text letter's property's*/
    display: var(--rt-ds-block);
    width: auto;
    height: auto;
    word-break: break-word;
}

    .letter\:extra-small {
        font-size: 0.75em;
    }

    .letter\:small {
        font-size: 1em;
    }

    .letter\:medium {
        font-size: 1.75em;
    }

    .letter\:large {
        font-size: 2.20em;
    }

    .letter\:extra-large {
        font-size: 3.50em;
    }

/*.icon\:normal {
    position: var(--rt-ps-absolute);
    background: var(--rt-bg-none);
    color: var(--rt-bg-none);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: invert(1);
    filter: invert(1);
}

    .icon\:extra-small {
        font-size: 0.75em;
    }

    .icon\:small {
        font-size: 1em;
    }
    
    .icon\:medium {
        font-size: 1.75em;
    }
    
    .icon\:large {
        font-size: 2.20em;
    }
    
    .icon\:extra-large {
        font-size: 3.50em;
    }

    .icon\:center {
        background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512"><path d="M1,6H23a1,1,0,0,0,0-2H1A1,1,0,0,0,1,6Z"/><path d="M23,9H1a1,1,0,0,0,0,2H23a1,1,0,0,0,0-2Z"/><path d="M23,19H1a1,1,0,0,0,0,2H23a1,1,0,0,0,0-2Z"/><path d="M23,14H1a1,1,0,0,0,0,2H23a1,1,0,0,0,0-2Z"/></svg>');
    }

    .icon\:left {
        background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512"><path d="M10.6,12.71a1,1,0,0,1,0-1.42l4.59-4.58a1,1,0,0,0,0-1.42,1,1,0,0,0-1.41,0L9.19,9.88a3,3,0,0,0,0,4.24l4.59,4.59a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.42Z"/></svg>');
    }

    .icon\:right {
        background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512"><path d="M15.4,9.88,10.81,5.29a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42L14,11.29a1,1,0,0,1,0,1.42L9.4,17.29a1,1,0,0,0,1.41,1.42l4.59-4.59A3,3,0,0,0,15.4,9.88Z"/></svg>');
    }

    .icon\:top {
        background-image: url('data:image/svg+xml; <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512"><path d="M18,15.5a1,1,0,0,1-.71-.29l-4.58-4.59a1,1,0,0,0-1.42,0L6.71,15.21a1,1,0,0,1-1.42-1.42L9.88,9.21a3.06,3.06,0,0,1,4.24,0l4.59,4.58a1,1,0,0,1,0,1.42A1,1,0,0,1,18,15.5Z"/></svg>');
    }

    .icon\:bottom {
        background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512"><path d="M18,15.5a1,1,0,0,1-.71-.29l-4.58-4.59a1,1,0,0,0-1.42,0L6.71,15.21a1,1,0,0,1-1.42-1.42L9.88,9.21a3.06,3.06,0,0,1,4.24,0l4.59,4.58a1,1,0,0,1,0,1.42A1,1,0,0,1,18,15.5Z"/></svg>');
    }

    .icon\:check {
        background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512"><path d="M22.319,4.431,8.5,18.249a1,1,0,0,1-1.417,0L1.739,12.9a1,1,0,0,0-1.417,0h0a1,1,0,0,0,0,1.417l5.346,5.345a3.008,3.008,0,0,0,4.25,0L23.736,5.847a1,1,0,0,0,0-1.416h0A1,1,0,0,0,22.319,4.431Z"/></svg>');
    }

    .icon\:cross {
        background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512"><path d="M18,6h0a1,1,0,0,0-1.414,0L12,10.586,7.414,6A1,1,0,0,0,6,6H6A1,1,0,0,0,6,7.414L10.586,12,6,16.586A1,1,0,0,0,6,18H6a1,1,0,0,0,1.414,0L12,13.414,16.586,18A1,1,0,0,0,18,18h0a1,1,0,0,0,0-1.414L13.414,12,18,7.414A1,1,0,0,0,18,6Z"/></svg>');
    }

    .icon\:save {
        background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512"><path d="M9.878,18.122a3,3,0,0,0,4.244,0l3.211-3.211A1,1,0,0,0,15.919,13.5l-2.926,2.927L13,1a1,1,0,0,0-1-1h0a1,1,0,0,0-1,1l-.009,15.408L8.081,13.5a1,1,0,0,0-1.414,1.415Z"/><path d="M23,16h0a1,1,0,0,0-1,1v4a1,1,0,0,1-1,1H3a1,1,0,0,1-1-1V17a1,1,0,0,0-1-1H1a1,1,0,0,0-1,1v4a3,3,0,0,0,3,3H21a3,3,0,0,0,3-3V17A1,1,0,0,0,23,16Z"/></svg>');
    }

    .icon\:mark {
        background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512"><path d="M20.137,24a2.8,2.8,0,0,1-1.987-.835L12,17.051,5.85,23.169a2.8,2.8,0,0,1-3.095.609A2.8,2.8,0,0,1,1,21.154V5A5,5,0,0,1,6,0H18a5,5,0,0,1,5,5V21.154a2.8,2.8,0,0,1-1.751,2.624A2.867,2.867,0,0,1,20.137,24ZM6,2A3,3,0,0,0,3,5V21.154a.843.843,0,0,0,1.437.6h0L11.3,14.933a1,1,0,0,1,1.41,0l6.855,6.819a.843.843,0,0,0,1.437-.6V5a3,3,0,0,0-3-3Z"/></svg>');
    }

    .icon\:calendar {
        background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512"><path d="M19,2H18V1a1,1,0,0,0-2,0V2H8V1A1,1,0,0,0,6,1V2H5A5.006,5.006,0,0,0,0,7V19a5.006,5.006,0,0,0,5,5H19a5.006,5.006,0,0,0,5-5V7A5.006,5.006,0,0,0,19,2ZM2,7A3,3,0,0,1,5,4H19a3,3,0,0,1,3,3V8H2ZM19,22H5a3,3,0,0,1-3-3V10H22v9A3,3,0,0,1,19,22Z"/><circle cx="12" cy="15" r="1.5"/><circle cx="7" cy="15" r="1.5"/><circle cx="17" cy="15" r="1.5"/></svg>');
    }*/

.card\:expand,
.card\:cover {
    display: var(--rt-ds-flex);
    width: calc(100% / 2);
    height: auto;
    border-radius: 1.5em;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    backdrop-filter: blur(10px);
}

    .card\:hover:hover {
        box-shadow: var(--rt-bs-card);
        backdrop-filter: blur(30px);
    }

.cursor { /*TODO: Cursor's property's*/
    cursor: var(--rt-cs-none);
}

    .cursor\:pointer {
        cursor: var(--rt-cs-pointer);
    }

    .cursor\:cross {
        cursor: var(--rt-cs-cross);
    }

    .cursor\:hand {
        cursor: var(--rt-cs-hand);
    }

.scroll\:hidden { /*TODO: Scroll's property's*/
    overflow: hidden !important;
}

.scroll\:auto {
    overflow: auto !important;
}

.scroll\:visible {
    width: 100%;
    height: 100%;
    overflow: scroll !important;
}

    .scroll\:x-hidden {
        overflow-x: hidden !important;
    }

    .scroll\:x-auto {
        overflow-x: auto !important;
    }

    .scroll\:x-visible {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden !important;
    }

    .scroll\:y-hidden {
        overflow-y: hidden !important;
    }

    .scroll\:y-auto {
        overflow-y: auto !important;
    }

    .scroll\:y-visible {
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden !important;
    }

    .scroll\:auto::-webkit-scrollbar,
    .scroll\:y-auto::-webkit-scrollbar,
    .scroll\:y-visible::-webkit-scrollbar {
        width: 1em;
        height: 100%;
    }

    .scroll\:auto::-webkit-scrollbar,
    .scroll\:x-auto::-webkit-scrollbar,
    .scroll\:x-visible::-webkit-scrollbar {
        width: 100%;
        height: 1em;
    }

    .scroll\:auto::-webkit-scrollbar-track-piece:start,
    .scroll\:visible::-webkit-scrollbar-track-piece:start,
    .scroll\:y-auto::-webkit-scrollbar-track-piece:start,
    .scroll\:y-visible::-webkit-scrollbar-track-piece:start,
    .scroll\:x-auto::-webkit-scrollbar-track-piece:start,
    .scroll\:x-visible::-webkit-scrollbar-track-piece:start {
        background-color: var(--rt-bg-none);
        margin-top: 0.75em;
    }

    .scroll\:auto::-webkit-scrollbar-track-piece:end,
    .scroll\:visible::-webkit-scrollbar-track-piece:end,
    .scroll\:y-auto::-webkit-scrollbar-track-piece:end,
    .scroll\:y-visible::-webkit-scrollbar-track-piece:end,
    .scroll\:x-auto::-webkit-scrollbar-track-piece:start,
    .scroll\:x-visible::-webkit-scrollbar-track-piece:start {
        background-color: var(--rt-bg-none);
        margin-bottom: 0.75em;
    }

.divider, 
.divider\:x, 
.divider\:y { /*TODO: Separator's property's*/
    width: 100%;
    height: 100%;
    margin-top: 0.50em;
    margin-bottom: 0.50em;
    padding: 0;
}

    .divider {
        border-top: 1px solid rgba(5, 5, 5, 0.15);
        border-left: 1px solid rgba(5, 5, 5, 0.15);   
    }

        .divider\:x {
            border-top: 1px solid rgba(5, 5, 5, 0.15);
        }

        .divider\:y {
            border-left: 1px solid rgba(5, 5, 5, 0.15);
        }

.round\25\% { /*TODO: Radius's property's*/
    border-radius: 25%;
}

.round\50\% {
    border-radius: 50%;
}

.round\75\% {
    border-radius: 75%;
}

.round\100\% {
    border-radius: 100%;
}

.active {
	visibility: visible !important;
}

.inactive {
	visibility: hidden !important;
}
