:root {
    /* Display's */
    --rt-ds-none: none;
    --rt-ds-inline: inline;
    --rt-ds-block: block;
    --rt-ds-inline-block: inline-block;
    --rt-ds-table: table;
    --rt-ds-flex: flex;
    --rt-ds-inline-flex: inline-flex;
    --rt-ds-grid: grid;

    /* Position's */
    --rt-ps-none: none;
    --rt-ps-relative: relative;
    --rt-ps-absolute: absolute;
    --rt-ps-static: static;
    --rt-ps-fixed: fixed;
}

/* Display's */
.display {
    display: var(--rt-ds-none) !important;
}
    .display\:inline {
        display: var(--rt-ds-inline) !important;
    }

    .display\:block {
        display: var(--rt-ds-block) !important;
    }

        .display\:inline-block {
            display: var(--rt-ds-inline-block) !important;
        }

    .display\:table {
        display: var(--rt-ds-table) !important;
    }

    .display\:flex {
        display: var(--rt-ds-flex) !important;
    }

        .display\:inline-flex {
            display: var(--rt-ds-inline-flex) !important;
        }

    .display\:grid {
        display: var(--rt-ds-grid) !important;
    }

/* Position's */
.position {
    position: var(--rt-ps-none) !important;
}

    .position\:relative {
        position: var(--rt-ps-relative) !important;
    }

    .position\:absolute {
        position: var(--rt-ps-absolute) !important;
    }

    .position\:static {
        position: var(--rt-ps-static) !important;
    }

    .position\:fixed {
        position: var(--rt-ps-fixed) !important;
    }

/* Main Container */
.root\:container {
    font-family: var(--rt-fn-courier);
    z-index: 9999;
}

    /* Root Container */
    .root\:container > .container-section\:group,
    .root\:container > .container-section\:header,
    .root\:container > .container-section\:body, 
    .root\:container > .container-section\:footer {
        display: var(--rt-ds-flex);
        position: var(--rt-ps-relative);
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        /*padding: 0.25em;*/
        flex-wrap: wrap;
    }

        /* Row's */
        .container-section\:group > .row,
        .container-section\:header > .row,
        .container-section\:body > .row, 
        .container-section\:footer > .row,
        * > .row {
            display: var(--rt-ds-flex);
            width: 100%;
            /*margin: 0.125em;*/
            order: 0;
            gap: 0.125em;
        }

        /* Col's */
        .row > * {
            width: 100%;
            /*padding: 0.50em;*/
            padding-top: 0.50em;
            padding-bottom: 0.50em;
            flex-shrink: 0;
        }

        .row > .cols\:1,
        .row > .cols\:2,
        .row > .cols\:3,
        .row > .cols\:4,
        .row > .cols\:5,
        .row > .cols\:6,
        .row > .cols\:7,
        .row > .cols\:8,
        .row > .cols\:9,
        .row > .cols\:10 {
            flex: 0 0 auto;
        }

        .cols\:1 {
            max-width: 100.0000%;
        }
        
        .cols\:2 {
            max-width: 90%;
        }

        .cols\:3 {
            max-width: 80%;
        }

        .cols\:4 {
            max-width: 70%;
        }

        .cols\:5 {
            max-width: 60%;
        }

        .cols\:6 {
            max-width: 50%;
        }

        .cols\:7 {
            max-width: 40%;   
        }
        
        .cols\:8 {
            max-width: 30%;   
        }

        .cols\:9 {
            max-width: 20%;
        }

        .cols\:10 {
            max-width: 10%;
        }

/* Flex Property's */
.justify\:content-left {
    justify-content: flex-start;    
}

.justify\:content-center {
    justify-content: center;    
}

.justify\:content-right {
    justify-content: flex-end;
}

.justify\:content-evenly {
    justify-content: space-evenly;
}

.justify\:content-between {
    justify-content: space-between;
}

    .justify\:self-left {
        justify-self: flex-start;    
    }

    .justify\:self-center {
        justify-self: center;    
    }

    .justify\:self-right {
        justify-self: flex-end;    
    }

    .justify\:items-left {
        justify-items: flex-start;
    }

    .justify\:items-center {
        justify-items: center;
    }

    .justify\:items-right {
        justify-items: flex-end;
    }

.align\:content-top {
    align-content: flex-start;
}

.align\:content-middle {
    align-content: center;
}

.align\:content-bottom {
    align-content: flex-end;
}

.align\:content-evenly {
    align-content: space-evenly;
}

.align\:content-between {
    align-content: space-between;
}

    .align\:self-top {
        align-self: flex-start;
    }

    .align\:self-middle {
        align-self: center;
    }

    .align\:self-bottom {
        align-self: flex-end;
    }

    .align\:items-top {
        align-items: flex-start;
    }

    .align\:items-middle {
        align-items: center;
    }

    .align\:items-bottom {
        align-items: flex-end;
    }

/* Element's Report */
.button\:extra-small, 
.button\:small, 
.button\:medium, 
.button\:large, 
.button\:extra-large {
    display: var(--rt-ds-inline-block);
    position: var(--rt-ps-relative);
    width: 90%;
    height: auto;
    border: 1.5px solid rgba(10, 10, 10, 0.45);
    border-radius: 0.45em;
    /*margin: 0.15em;*/
    padding: 2px;
    font-size: 1em;
    font-weight: 400;
}

    .button\:extra-small {
        max-width: 18%;
    }

    .button\:small {
        max-width: 36%;
    }

    .button\:medium {
        max-width: 54%;
    }

    .button\:large {
        max-width: 72%;
    }

    .button\:extra-large {
        max-width: 90%;
    }

        .button\:extra-small:active, 
        .button\:small:active, 
        .button\:medium:active, 
        .button\:large:active, 
        .button\:extra-large:active {
            transform: scale(0.85);
        }

    .button\:hover:hover, 
    .button\:hover-scale:hover {
        box-shadow: var(--rt-bs-hover-combine);
    }

        .button\:hover-scale:hover {
            animation: 1.5s var(--rt-a-fadeIn);
            -webkit-animation: 1.5s var(--rt-a-fadeIn);
            -moz-animation: 1.5s var(--rt-a-fadeIn);
            -o-animation: 1.5s var(--rt-a-fadeIn);
            font-weight: 530;
        }

.text\:extra-small, 
.text\:small, 
.text\:medium, 
.text\:large, 
.text\:extra-large {
    width: 90%;
    height: auto;
    background-color: var(--rt-bg-white);
    border: 1.5px solid rgba(10, 10, 10, 0.45);
    border-radius: 0.25em;
    /*margin: 0.15em;*/
    padding: 1.5px;
    font-size: 1em;
    font-weight: 450;
    text-align: center !important;
    text-transform: capitalize;
}
    .text\:extra-small {
        max-width: 18%;
    }

    .text\:small {
        max-width: 36%;
    }

    .text\:medium {
        max-width: 54%;
    }

    .text\:large {
        max-width: 72%;
    }

    .text\:extra-large {
        max-width: 90%;
    }

    .text\:hover:hover {
        box-shadow: var(--rt-bs-form);
    }   

.date {  }

.select\:extra-small, 
.select\:small, 
.select\:medium, 
.select\:large, 
.select\:extra-large {
    width: 90%;
    height: auto;
    background-color: var(--rt-bg-white);
    background-image: url('../../img/icons/select.svg');
    background-position: right center !important;
    background-size: 1.6em;
    background-repeat: no-repeat;
    border: 1px solid rgba(10, 10, 10, 0.25);
    border-radius: 0.25em;
    margin: 0.10em;
    padding: 0.10em;
}

    .select\:extra-small {
        max-width: 18%;
    }

    .select\:small {
        max-width: 36%;
    }

    .select\:middle {
        max-width: 54%;
    }

    .select\:large {
        max-width: 72%;
    }

    .select\:extra-large {
        max-width: 90%;
    }

    .select\:hover:hover {
        box-shadow: var(--rt-bs-form);
    }

        .select\:hover > option:hover {
            background-color: var(--rt-bg-blue) !important;
        }

.table\:border, 
.table\:stripped {
    width: 100%;
    height: auto;
    text-align: center !important;
    line-height: 0.15;
    word-break: break-all;
}

    .table\:border > thead, 
    .table\:stripped > thead, 
    .table\:border > tbody, 
    .table\:stripped > tbody {
        border-radius: 3em;
    }

        .table\:border > thead > tr > th, 
        .table\:stripped > thead > tr > th, 
        .table\:border > tbody > tr > td, 
        .table\:stripped > tbody > tr > td {
            padding: 1.35em !important;
        }

    .table\:border {
        border-collapse: initial !important;
    }

    .table\:stripped {
        border-collapse: collapse !important;
    }

        .table\:stripped > tbody > tr:nth-child(even) {
            color: var(--rt-bg-white);
            background-color: rgba(100, 100, 100, 0.45);
        }

    .table\:hover > thead > tr:hover, 
    .table\:hover > tbody > tr:hover, 
    .table\:hover-scale > thead > tr:hover, 
    .table\:hover-scale > tbody > tr:hover {
        box-shadow: var(--rt-bs-hover);
    }

        .table\:hover-scale > thead > tr:hover, 
        .table\:hover-scale > tbody > tr:hover {
            animation: 1.5s var(--rt-a-fadeIn);
            -webkit-animation: 1.5s var(--rt-a-fadeIn);
            -moz-animation: 1.5s var(--rt-a-fadeIn);
            -o-animation: 1.5s var(--rt-a-fadeIn);
        }

.list\:landscape, 
.list\:portrait {
    width: 100%;
    height: auto;
    margin: 0.50em auto;
    padding: 0;
    white-space: initial;
}

    .list\:landscape > li, 
    .list\:portrait > li {
        border-radius: 0.25em;
        padding: 0.50em;
        font-size: 1em;
        text-align: center;
        word-break: break-word;
        justify-content: center;
        align-items: center;
    }

        .list\:landscape > li:hover, 
        .list\:portrait > li:hover {
            cursor: pointer;
        }

        .list\:landscape > li:active, 
        .list\:portrait > li:active {
            transform: scale(0.85);
        }

        .list\:portrait > li {
            display: var(--rt-ds-flex);
            height: 7.5em;
            flex-direction: row
        }

    .list\:landscape { }

        .list\:landscape > li {
            display: var(--rt-ds-inline-flex);
            height: 3.5em;
            flex-direction: column;
        }

    .list\:hover > li:hover, 
    .list\:hover-scale > li:hover {
        box-shadow: var(--rt-bs-hover);
    }

        .list\:hover-scale > li:hover {
            animation: 1.5s var(--rt-a-fadeIn);
            -webkit-animation: 1.5s var(--rt-a-fadeIn);
            -moz-animation: 1.5s var(--rt-a-fadeIn);
            -o-animation: 1.5s var(--rt-a-fadeIn);
        }

.image\:extra-small, 
.image\:small, 
.image\:medium, 
.image\:large, 
.image\:extra-large {
    display: var(--rt-ds-block);   
    width: 50%;
    height: auto;
    margin: 1.5em;
    /*margin-left: auto;
    margin-right: auto;*/ 
    border-radius: 1.5em;
}

    .image\:extra-small {
        max-width: 10%;
    }

    .image\:small {
        max-width: 20%;
    }

    .image\:medium {
        max-width: 30%;
    }

    .image\:large {
        max-width: 40%;
    }

    .image\:extra-large {
        max-width: 50%;
    }

    .image\:hover:hover, 
    .image\:hover-round:hover {
        animation: 1.5s var(--rt-a-fadeOut);
        -webkit-animation: 1.5s var(--rt-a-fadeOut);
        -moz-animation: 1.5s var(--rt-a-fadeOut);
        -o-animation: 1.5s var(--rt-a-fadeOut);
        box-shadow: var(--rt-bs-regular);
    }

.letter\:extra-small, 
.letter\:small, 
.letter\:medium, 
.letter\:large, 
.letter\:extra-large {
    display: var(--rt-ds-block);
    width: auto;
    height: auto;
}

    .letter\:extra-small {
        font-size: 0.75em;
    }

    .letter\:small {
        font-size: 1em;
    }

    .letter\:medium {
        font-size: 1.75em;
    }

    .letter\:large {
        font-size: 2.20em;
    }

    .letter\:extra-large {
        font-size: 3.50em;
    }

/* Scrollbar */
.scroll\:hidden {
    overflow: hidden !important;
}

.scroll\:auto {
    overflow: auto !important;
}

.scroll\:visible {
    overflow: visible !important;
}

    .scroll\:x-hidden {
        overflow-x: hidden !important;
    }

    .scroll\:x-auto {
        overflow-x: auto !important;
    }

    .scroll\:x-visible {
        overflow-x: visible !important;
    }

    .scroll\:y-hidden {
        overflow-y: hidden !important;
    }

    .scroll\:y-auto {
        overflow-y: auto !important;
    }

    .scroll\:y-visible {
        overflow-y: visible !important;
    }

/* Divider's */
.divider, 
.divider\:x, 
.divider\:y {
    width: 100%;
    margin: 0.30em;
    padding: 0;
}

    .divider {
        border-top: 1px solid rgba(5, 5, 5, 0.35);
        border-left: 1px solid rgba(5, 5, 5, 0.35);   
    }

        .divider\:x {
            border-top: 1px solid rgba(5, 5, 5, 0.35);
        }

        .divider\:y {
            border-left: 1px solid rgba(5, 5, 5, 0.35);
        }

/* Round Elemen */
.round\25\% {
    border-radius: 25% !important;
}

.round\50\% {
    border-radius: 50% !important;
}

.round\75\% {
    border-radius: 75% !important;
}

.round\100\% {
    border-radius: 100% !important;
}