/******************************?SIZE?******************************/
:root { /*!Only modify with Sass or Less!*/
    --rt-sz-0: 0;
    --rt-sz-1: 0.25em;
    --rt-sz-2: 0.50em;
    --rt-sz-3: 0.75em;
    --rt-sz-4: 1em;

    --rt-dg-90: 90deg;
    --rt-dg-180: 180deg;
    --rt-dg-270: 270deg;
    --rt-dg-360: 360deg;
}

.width { /*TODO: Size width the content box element*/
    width: 0 !important;
}

    .width\:auto {
        width: auto !important;
    }

    .width\:25\% {
        width: 25% !important;
    }

    .width\:50\% {
        width: 50% !important;   
    }

    .width\:75\% {
        width: 75% !important;
    }

    .width\:100\% {
        width: 100% !important;
    }

    .width\:200\px {
        width: 200px !important;
    }

    .width\:400\px {
        width: 400px !important;
    }

    .width\:600\px {
        width: 600px !important;
    }

    .width\:800\px {
        width: 800px !important;
    }

    .width\:1000\px {
        width: 1000px !important;
    }

.height { /*TODO: Size height the content box element*/
    height: var(--rt-sz-0) !important;
}

    .height\:auto {
        height: auto !important;
    }

    .height\:25\% {
        height: 25% !important;
    }

    .height\:50\% {
        height: 50% !important;   
    }

    .height\:75\% {
        height: 75% !important;
    }

    .height\:100\% {
        height: 100% !important;
    }

    .height\:200\px {
        height: 200px !important;
    }

    .height\:400\px {
        height: 400px !important;
    }

    .height\:600\px {
        height: 600px !important;
    }

    .height\:800\px {
        height: 800px !important;
    }

    .height\:1000\px {
        height: 1000px !important;
    }

.border\:1, 
.border\:2, 
.border\:3,
.border\:left-1, 
.border\:left-2, 
.border\:left-3,
.border\:right-1, 
.border\:right-2, 
.border\:right-3
.border\:top-1, 
.border\:top-2, 
.border\:top-3,
.border\:bottom-1, 
.border\:bottom-2, 
.border\:bottom-3 {
    border-style: groove !important;
}

.border\:1 { /*TODO: Border element delimited in box*/
    border: var(--rt-sz-1);
}

.border\:2 {
    border: var(--rt-sz-2);
}

.border\:3 {
    border: var(--rt-sz-3);
}

    .border\:left-1 {
        border-left: var(--rt-sz-1);
    }

    .border\:left-2 {
        border-left: var(--rt-sz-2);
    }

    .border\:left-3 {
        border-left: var(--rt-sz-3);
    }

    .border\:right-1 {
        border-right: var(--rt-sz-1);
    }

    .border\:right-2 {
        border-right: var(--rt-sz-2);
    }

    .border\:right-3 {
        border-right: var(--rt-sz-3);
    }

    .border\:top-1 {
        border-top: var(--rt-sz-1);
    }

    .border\:top-2 {
        border-top: var(--rt-sz-2);
    }

    .border\:top-3 {
        border-top: var(--rt-sz-3);
    }

    .border\:bottom-1 {
        border-bottom: var(--rt-sz-1);
    }

    .border\:top-2 {
        border-bottom: var(--rt-sz-2);
    }

    .border\:top-3 {
        border-bottom: var(--rt-sz-3);
    }

.margin { /*TODO: Margin element in box*/
    margin: var(--rt-sz-0) !important;
}

    .margin\:auto {
        margin: auto !important;
    }

    .margin\:25\% {
        margin: var(--rt-sz-1) !important;
    }

    .margin\:50\% {
        margin: var(--rt-sz-2) !important;
    }

    .margin\:75\% {
        margin: var(--rt-sz-3) !important;
    }

    .margin\:100\% {
        margin: var(--rt-sz-4) !important;
    }

.margin\:x {
    margin-left: var(--rt-sz-0) !important;
    margin-right: var(--rt-sz-0) !important;
}

    .margin\:x-auto {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .margin\:x-25\% {
        margin-left: var(--rt-sz-1) !important;
        margin-right: var(--rt-sz-1) !important;
    }

    .margin\:x-50\% {
        margin-left: var(--rt-sz-2) !important;
        margin-right: var(--rt-sz-2) !important;
    }

    .margin\:x-75\% {
        margin-left: var(--rt-sz-3) !important;
        margin-right: var(--rt-sz-3) !important;
    }

    .margin\:x-100\% {
        margin-left: var(--rt-sz-4) !important;
        margin-right: var(--rt-sz-4) !important;
    }

.margin\:y {
    margin-top: var(--rt-sz-0) !important;
    margin-bottom: var(--rt-sz-0) !important;
}

    .margin\:y-auto {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    .margin\:y-25\% {
        margin-top: var(--rt-sz-1) !important;
        margin-bottom: var(--rt-sz-1) !important;
    }

    .margin\:y-50\% {
        margin-top: var(--rt-sz-2) !important;
        margin-bottom: var(--rt-sz-2) !important;
    }

    .margin\:y-75\% {
        margin-top: var(--rt-sz-3) !important;
        margin-bottom: var(--rt-sz-3) !important;
    }

    .margin\:y-100\% {
        margin-top: var(--rt-sz-4) !important;
        margin-bottom: var(--rt-sz-4) !important;
    }

.padding { /*TODO: Padding reference element in box content*/
    padding: var(--rt-sz-0) !important;
}

    .padding\:auto {
        padding: auto !important;
    }

    .padding\:25\% {
        padding: var(--rt-sz-1) !important;
    }

    .padding\:50\% {
        padding: var(--rt-sz-2) !important;
    }

    .padding\:75\% {
        padding: var(--rt-sz-3) !important;
    }

    .padding\:100\% {
        padding: var(--rt-sz-4) !important;
    }

.padding\:x {
    padding-left: var(--rt-sz-0) !important;
    padding-right: var(--rt-sz-0) !important;
}

    .padding\:x-auto {
        padding-left: auto !important;
        padding-right: auto !important;    
    }

    .padding\:x-25\% {
        padding-left: var(--rt-sz-1) !important;
        padding-right: var(--rt-sz-1) !important;
    }

    .padding\:x-50\% {
        padding-left: var(--rt-sz-2) !important;
        padding-right: var(--rt-sz-2) !important;
    }

    .padding\:x-75\% {
        padding-left: var(--rt-sz-3) !important;
        padding-right: var(--rt-sz-3) !important;
    }

    .padding\:x-100\% {
        padding-left: var(--rt-sz-4) !important;
        padding-right: var(--rt-sz-4) !important;
    }

.padding\:y {
    padding-top: var(--rt-sz-0) !important;
    padding-bottom: var(--rt-sz-0) !important;
}

    .padding\:y-auto {
        padding-top: auto !important;
        padding-bottom: auto !important;    
    }

    .padding\:y-25\% {
        padding-top: var(--rt-sz-1) !important;
        padding-bottom: var(--rt-sz-1) !important;
    }

    .padding\:y-50\% {
        padding-top: var(--rt-sz-2) !important;
        padding-bottom: var(--rt-sz-2) !important;
    }

    .padding\:y-75\% {
        padding-top: var(--rt-sz-3) !important;
        padding-bottom: var(--rt-sz-3) !important;
    }

    .padding\:y-100\% {
        padding-top: var(--rt-sz-4) !important;
        padding-bottom: var(--rt-sz-4) !important;
    }

.rotate\:90\deg { /*TODO: Rotate element in window*/
    transform: rotate(var(--rt-dg-90)) !important;
}

.rotate\:180\deg {
    transform: rotate(var(--rt-dg-180)) !important;
}

.rotate\:270\deg {
    transform: rotate(var(--rt-dg-270)) !important;
}

.rotate\:360\deg {
    transform: rotate(var(--rt-dg-360)) !important;
}

    .rotate\:x-90\deg {
        transform: rotateX(var(--rt-dg-90)) !important;
    }

    .rotate\:x-180\deg {
        transform: rotateX(var(--rt-dg-180)) !important;
    }

    .rotate\:x-270\deg {
        transform: rotateX(var(--rt-dg-270)) !important;
    }

    .rotate\:x-360\deg {
        transform: rotateX(var(--rt-dg-360)) !important;
    }

    .rotate\:y-90\deg {
        transform: rotateY(var(--rt-dg-90)) !important;
    }

    .rotate\:y-180\deg {
        transform: rotateY(var(--rt-dg-180)) !important;
    }

    .rotate\:y-270\deg {
        transform: rotateY(var(--rt-dg-270)) !important;
    }

    .rotate\:y-360\deg {
        transform: rotateY(var(--rt-dg-180)) !important;
    }

    .rotate\:z-90\deg {
        transform: rotateZ(var(--rt-dg-90)) !important;
    }

    .rotate\:z-180\deg {
        transform: rotateZ(var(--rt-dg-180)) !important;
    }

    .rotate\:z-270\deg {
        transform: rotateZ(var(--rt-dg-270)) !important;
    }

    .rotate\:z-360\deg {
        transform: rotateZ(var(--rt-dg-360)) !important;
    }
