/******************************?UTILITIES?******************************/
:root {
    /*!Display's!*/
    --rt-ds-none: none;
    --rt-ds-inline: inline;
    --rt-ds-block: block;
    --rt-ds-inline-block: inline-block;
    --rt-ds-table: table;
    --rt-ds-flex: flex;
    --rt-ds-inline-flex: inline-flex;
    --rt-ds-grid: grid;

    /*!Position's!*/
    --rt-ps-none: none;
    --rt-ps-relative: relative;
    --rt-ps-absolute: absolute;
    --rt-ps-static: static;
    --rt-ps-fixed: fixed;
}

.display { /*TODO: Displayed element in document*/
    display: var(--rt-ds-none) !important;
}
    .display\:inline {
        display: var(--rt-ds-inline) !important;
    }

    .display\:block {
        display: var(--rt-ds-block) !important;
    }

        .display\:inline-block {
            display: var(--rt-ds-inline-block) !important;
        }

    .display\:table {
        display: var(--rt-ds-table) !important;
    }

    .display\:flex {
        display: var(--rt-ds-flex) !important;
    }

        .display\:inline-flex {
            display: var(--rt-ds-inline-flex) !important;
        }

    .display\:grid {
        display: var(--rt-ds-grid) !important;
    }

.position { /*TODO: Position element referenced with parent or child element*/
    position: var(--rt-ps-none) !important;
}

    .position\:relative {
        position: var(--rt-ps-relative) !important;
    }

    .position\:absolute {
        position: var(--rt-ps-absolute) !important;
    }

    .position\:static {
        position: var(--rt-ps-static) !important;
    }

    .position\:fixed {
        position: var(--rt-ps-fixed) !important;
    }

.root\:container { /*TODO: Main*/
    width: 100%;
    z-index: 9999;
}

    .root\:container .section\:header,
    .root\:container .section\:body, 
    .root\:container .section\:footer {
        display: var(--rt-ds-flex);
        position: var(--rt-ps-relative);
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }

    .root\:container .section\:header,
    .root\:container .section\:body, 
    .root\:container .section\:footer,
    .section\:external-component {
        margin-left: auto;
        margin-right: auto;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
    }

    .root\:container .section\:header .group, .root\:container .section\:body .group, .root\:container .section\:footer .group,
    .modal\:container .section\:header .group, .modal\:container .section\:body .group, .modal\:container .section\:footer .group { /*TODO: Row*/
        display: var(--rt-ds-flex);
        width: 100%;
        order: 0;
    }

    .group * {
        width: 100%;
        padding-top: 0.50em;
        padding-bottom: 0.50em;
    }

    .size\:1, .size\:2, .size\:3, .size\:4, .size\:5, .size\:6, .size\:7, .size\:8, .size\:9, .size\:10, .size\:11, .size\:12 { /*TODO: Cols*/
        flex: 0 0 auto;
        text-align: center;
    }


    .size\:1 {
        max-width: 100%;
    }
    
    .size\:2 {
        max-width: 91.6666666667%;
    }

    .size\:3 {
        max-width: 83.3333333333%;
    }

    .size\:4 {
        max-width: 75%;
    }

    .size\:5 {
        max-width: 66.6666666667%;
    }

    .size\:6 {
        max-width: 58.3333333333%;
    }

    .size\:7 {
        max-width: 50%;   
    }
    
    .size\:8 {
        max-width: 41.6666666667%;   
    }

    .size\:9 {
        max-width: 33.3333333333%;
    }

    .size\:10 {
        max-width: 25%;
    }

    .size\:11 {
        max-width: 16.6666666667%;
    }

    .size\:12 {
        max-width: 8.3333333333%;
    }

.justify\:content-left { /*TODO: Align element's with flexbox*/
    justify-content: flex-start !important;    
}

.justify\:content-center {
    justify-content: center !important;    
}

.justify\:content-right {
    justify-content: flex-end !important;
}

.justify\:content-evenly {
    justify-content: space-evenly !important;
}

.justify\:content-between {
    justify-content: space-between !important;
}

    .justify\:self-left {
        justify-self: flex-start !important;    
    }

    .justify\:self-center {
        justify-self: center !important;    
    }

    .justify\:self-right {
        justify-self: flex-end !important;    
    }

    .justify\:items-left {
        justify-items: flex-start !important;
    }

    .justify\:items-center {
        justify-items: center !important;
    }

    .justify\:items-right {
        justify-items: flex-end !important;
    }

.align\:content-top {
    align-content: flex-start !important;
}

.align\:content-middle {
    align-content: center !important;
}

.align\:content-bottom {
    align-content: flex-end !important;
}

.align\:content-evenly {
    align-content: space-evenly !important;
}

.align\:content-between {
    align-content: space-between !important;
}

    .align\:self-top {
        align-self: flex-start !important;
    }

    .align\:self-middle {
        align-self: center !important;
    }

    .align\:self-bottom {
        align-self: flex-end !important;
    }

    .align\:items-top {
        align-items: flex-start !important;
    }

    .align\:items-middle {
        align-items: center !important;
    }

    .align\:items-bottom {
        align-items: flex-end !important;
    }

.position\:start {
    text-align: start !important;
}

.position\:center {
    text-align: center !important;
}

.position\:end {
    text-align: end !important;
}

.button\:extra-small, .button\:small, .button\:medium, .button\:large, .button\:extra-large { /*TODO: Button's property's*/
    display: var(--rt-ds-inline-block);
    position: var(--rt-ps-relative);
    width: 100%;
    height: auto;
    border-color: var(--rt-bg-none);
    border-style:solid;
    border-width: 0.3em;
    border-radius: 0.45em;
    padding: 3.5px;
    font-weight: 400;
    word-break: break-word;
    overflow: hidden !important;
}

    .button\:extra-small {
        max-width: 20%;
    }

    .button\:small {
        max-width: 40%;
    }

    .button\:medium {
        max-width: 60%;
    }

    .button\:large {
        max-width: 80%;
    }

    .button\:extra-large {
        max-width: 100%;
    }

        .button\:extra-small:active, .button\:small:active, .button\:medium:active, .button\:large:active, .button\:extra-large:active {
            transform: scale(0.85);
        }

    .button\:extra-small::after, .button\:small::after, .button\:medium::after, .button\:large::after, .button\:extra-large::after {
    	content: "";
    	position: var(--rt-ps-absolute);
    	border-right: 50px solid var(--rt-bg-none);
    	width: 150%;
    	height: 100%;
    	top: 0;
    	left: calc(-100% - 50%);
    	transition: 0.75s ease all;
    	z-index: 1;
    }

    .button\:hover:hover::after {
    	left: 0;
    }

        .button\:hover-scale:hover {
            animation: 1.5s var(--rt-a-fadeOut);
            -webkit-animation: 1.5s var(--rt-a-fadeOut);
            -moz-animation: 1.5s var(--rt-a-fadeOut);
            -o-animation: 1.5s var(--rt-a-fadeOut);
            font-weight: 530;
        }

.text\:extra-small, .text\:small, .text\:medium, .text\:large, .text\:extra-large { /*TODO: Text field's property's*/
    width: 100%;
    height: auto;
    border: 1.5px solid rgba(10, 10, 10, 0.45);
    border-radius: 0.5em;
    padding: 1.5px;
    font-weight: 450;
    text-align: center !important;
    text-transform: capitalize;
    outline: none !important;
}
    .text\:extra-small {
        max-width: 20%;
    }

    .text\:small {
        max-width: 40%;
    }

    .text\:medium {
        max-width: 60%;
    }

    .text\:large {
        max-width: 80%;
    }

    .text\:extra-large {
        max-width: 100%;
    }   

.date\:extra-small, .date\:small, .date\:medium, .date\:large, .date\:extra-large { /*TODO: Date field's property's*/
    width: 100%;
    outline-style: double;
    border: none;
}

    .date\:extra-small {
        max-width: 20%;
    }

    .date\:small {
        max-width: 40%;
    }

    .date\:medium {
        max-width: 60%;
    }

    .date\:large {
        max-width: 80%;
    }

    .date\:extra-large {
        max-width: 100%;
    }

    .date\:extra-small .date:modal, .date\:small .date:modal, .date\:medium .date:modal, .date\:large .date:modal, .date\:extra-large .date:modal {
        position: var(--rt-ps-absolute);
        width: calc(100% / 2);
        height: auto;
        left: 25%;
        padding-bottom: 0.25em;
    }

.select\:extra-small, .select\:small, .select\:medium, .select\:large, .select\:extra-large { /*TODO: Combo's property's*/
    width: 100%;
    height: auto;
    background-position: right center !important;
    background-size: 1.6em;
    background-repeat: no-repeat;
    border: 1.5px solid rgba(10, 10, 10, 0.45);
    border-radius: 0.5em;
    text-align: left;
    text-overflow: ellipsis;
    margin: 0.10em;
    padding: 0.10em;
    outline: none !important;
    appearance: menulist-button;
    -webkit-appearance: menulist-button;
}

    .select\:extra-small, .option\:item { /*TODO: Combo's item's property's*/
        max-width: 20%;
    }

    .select\:small, .option\:item {
        max-width: 40%;
    }

    .select\:medium, .option\:item {
        max-width: 60%;
    }

    .select\:large, .option\:item {
        max-width: 80%;
    }

    .select\:extra-large, .option\:item {
        max-width: 100%;
    }

        .select\:hover option:hover {
            background-color: var(--rt-bg-blue);
        }

    .option\:item:hover {
        background-color: var(--rt-bg-blue);
    }

    .option\:item:active {
        background-color: var(--rt-bg-blue-dark);
    }

.table\:border, .table\:stripped { /*TODO: Table's property's*/
    width: 100%;
    height: auto;
    text-align: center !important;
    line-height: 0.75 !important;
    word-break: normal;
}

    .table\:border thead, .table\:stripped thead, 
    .table\:border tbody, .table\:stripped tbody {
        border-radius: 3em;
    }

        .table\:border thead tr th, .table\:stripped thead tr th, 
        .table\:border tbody tr td, .table\:stripped tbody tr td {
            padding: 1.35em;
        }

    .table\:border {
        border-collapse: initial !important;
    }

    .table\:stripped {
        border-collapse: collapse !important;
    }

    .table\:hover tbody tr:hover, 
    .table\:hover-scale thead tr:hover, .table\:hover-scale tbody tr:hover {
        box-shadow: var(--rt-bs-hover);
    }

        .table\:hover-scale tbody tr:hover {
            animation: 1.5s var(--rt-a-fadeIn);
            -webkit-animation: 1.5s var(--rt-a-fadeIn);
            -moz-animation: 1.5s var(--rt-a-fadeIn);
            -o-animation: 1.5s var(--rt-a-fadeIn);
        }

.list\:landscape, .list\:portrait { /*TODO: List's property's*/
    width: 100%;
    height: auto;
    margin: 0.50em auto;
    padding: 0;
    white-space: initial;
}

    .list\:landscape .list\:item, .list\:portrait .list\:item { /*TODO: List's item's property's*/
        border-radius: 0.25em;
        padding: 0.50em;
        text-align: center;
        word-break: break-word;
        justify-content: center;
        align-items: center;
    }

        .list\:landscape .list\:item:hover, .list\:portrait .list\:item:hover {
            cursor: pointer;
        }

        .list\:portrait .list\:item {
            display: var(--rt-ds-flex);
            height: 7.5em;					
            flex-direction: row
        }

        .list\:landscape .list\:item {
            display: var(--rt-ds-inline);
            height: 3.5em;
        }

    .list\:hover .list\:item:hover, .list\:hover-scale .list\:item:hover {
        box-shadow: var(--rt-bs-hover);
    }

        .list\:hover-scale .list\:item:hover {
            animation: 1.5s var(--rt-a-fadeIn);
            -webkit-animation: 1.5s var(--rt-a-fadeIn);
            -moz-animation: 1.5s var(--rt-a-fadeIn);
            -o-animation: 1.5s var(--rt-a-fadeIn);
        }

.image\:extra-small, .image\:small, .image\:medium, .image\:large, .image\:extra-large { /*TODO: Image's or Icon's property's*/
    display: var(--rt-ds-block);   
    width: 50%;
    height: auto;
    margin: 1.5em;
    border-radius: 1.5em;
}

    .image\:extra-small {
        max-width: 10%;
    }

    .image\:small {
        max-width: 20%;
    }

    .image\:medium {
        max-width: 30%;
    }

    .image\:large {
        max-width: 40%;
    }

    .image\:extra-large {
        max-width: 50%;
    }

    .image\:hover:hover, .image\:hover-round:hover {
        animation: 1.5s var(--rt-a-fadeOut);
        -webkit-animation: 1.5s var(--rt-a-fadeOut);
        -moz-animation: 1.5s var(--rt-a-fadeOut);
        -o-animation: 1.5s var(--rt-a-fadeOut);
        box-shadow: var(--rt-bs-regular);
    }

.letter\:extra-small, .letter\:small, .letter\:medium, .letter\:large, .letter\:extra-large { /*TODO: Text letter's property's*/
    display: var(--rt-ds-block);
    width: auto;
    height: auto;
}

    .letter\:extra-small {
        font-size: 0.75em;
    }

    .letter\:small {
        font-size: 1em;
    }

    .letter\:medium {
        font-size: 1.75em;
    }

    .letter\:large {
        font-size: 2.20em;
    }

    .letter\:extra-large {
        font-size: 3.50em;
    }

.scroll\:hidden { /*TODO: Scroll's property's*/
    overflow: hidden !important;
}

.scroll\:auto {
    overflow: auto !important;
}

.scroll\:visible {
    width: 100%;
    height: 100%;
    overflow: scroll !important;
}

    .scroll\:visible\::-webkit-scrollbar, .scroll\:x-visible\::-webkit-scrollbar, .scroll\:y-visible\::-webkit-scrollbar {
        position: var(--rt-ps-fixed);
        border-radius: 3em;
    }

        .scroll\:visible\::-webkit-scrollbar-thumb, .scroll\:x-visible\::-webkit-scrollbar-thumb, .scroll\:y-visible\::-webkit-scrollbar-thumb {
            background-color: var(--rt-bg-red);
        }

    .scroll\:x-hidden {
        overflow-x: hidden !important;
    }

    .scroll\:x-auto {
        overflow-x: auto !important;
    }

    .scroll\:x-visible {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden !important;
    }

    .scroll\:y-hidden {
        overflow-y: hidden !important;
    }

    .scroll\:y-auto {
        overflow-y: auto !important;
    }

    .scroll\:y-visible {
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden !important;
    }

.divider, .divider\:x, .divider\:y { /*TODO: Separator's property's*/
    width: 100%;
    height: 100%;
    margin-top: 0.50em;
    margin-bottom: 0.50em;
    padding: 0;
}

    .divider {
        border-top: 1px solid rgba(5, 5, 5, 0.15);
        border-left: 1px solid rgba(5, 5, 5, 0.15);   
    }

        .divider\:x {
            border-top: 1px solid rgba(5, 5, 5, 0.15);
        }

        .divider\:y {
            border-left: 1px solid rgba(5, 5, 5, 0.15);
        }

.round\25\% { /*TODO: Radius's property's*/
    border-radius: 25%;
}

.round\50\% {
    border-radius: 50%;
}

.round\75\% {
    border-radius: 75%;
}

.round\100\% {
    border-radius: 100%;
}

.active {
	visibility: visible !important;
}

.inactive {
	visibility: hidden !important;
}
